// navigation driver

$navigation-drawer-width: 280px;
$navigation-drawer-width-closed: 890px;

// colors
$splitLineColor: #dedede;

$colorRed: #d9534f;
$colorGreen: green;
$colorYellow: yellow;
$colorOrange: orange;
$colorBlue: #247cff;
$colorGrey: grey;
$colorWhiteGrey: #dedede;
$colorBlack: black;

// font size
$fontSizeSmaller: smaller;
$fontSizeSmall: small;
$fontSizeNormal: 16px;
$fontSizeBig: large;
$fontSizeBiggest: xx-large;