@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic,cyrillic-ext");
hr {
  margin: 5px 0;
  border-top: solid 1px #d9d9d9; }

/* font style */
.font-bold {
  font-weight: bold; }

.font-size-1 {
  font-size: small; }

.font-size-2 {
  font-size: large; }

.font-size-3 {
  font-size: xx-large; }

/* font color */
.red {
  color: #d9534f; }

.green {
  color: green; }

.yellow {
  color: yellow; }

.orange {
  color: orange; }

.blue {
  color: #247cff; }

.grey {
  color: grey; }

.white-grey {
  color: #dedede; }

.black {
  color: black; }

/* align */
.text-align-right {
  text-align: right; }

.text-align-left {
  text-align: left; }

/* padding */
.font-padding-left-5 {
  display: inline-block;
  padding-left: 5px; }

.font-padding-left-10 {
  display: inline-block;
  padding-left: 10px; }

.font-padding-right-5 {
  display: inline-block;
  padding-right: 5px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-5 {
  padding: 5px; }

.padding-3 {
  padding: 3px; }

/* flex utils */
.flex-separator {
  margin-right: auto; }

/* link */
a.link-undecorated {
  text-decoration: none; }

a.link-clear-color {
  color: inherit; }

.fix-overflow {
  overflow: hidden; }

form.minimize .form-group {
  display: none; }

.content-panel {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  margin-bottom: 10px; }

div.page-title {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  margin-bottom: 5px;
  background: #fafafa;
  display: flex;
  align-items: center; }
  div.page-title .separator {
    margin-left: auto; }
  div.page-title .app-color-blue {
    color: #247cff; }
  div.page-title .app-header-font {
    font-size: large; }

.redactor-editor,
.redactor-box textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px; }

#footer {
  background: #000000;
  padding: 20px;
  border-top: 2px solid #00cb00; }

.site-list .item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0 5px 5px 0;
  border: solid 1px white;
  transition: 500ms; }
  .site-list .item:hover {
    border: dashed 1px grey; }
  .site-list .item div.p-panel {
    border: solid 1px #dedede;
    margin: 5px 0 0 5px; }
    .site-list .item div.p-panel div.p-panel-header {
      border-bottom: solid 1px #dedede;
      padding: 0 3px;
      font-weight: bold; }
      .site-list .item div.p-panel div.p-panel-header .glyphicon {
        margin-right: 10px;
        color: orange; }
    .site-list .item div.p-panel div.p-panel-body {
      padding: 3px; }
  .site-list .item div.col-one {
    width: 100%; }
  .site-list .item div.col-two {
    width: 300px; }
  .site-list .item div.category-viewer {
    line-height: 14px;
    padding: 0 3px 3px 0; }
    .site-list .item div.category-viewer div.category-group span.category-group-name, .site-list .item div.category-viewer div.category-group span.category-item {
      font-size: 10px;
      display: inline-block;
      border: solid 1px #dedede;
      margin: 3px 0 0 3px;
      padding: 0 2px;
      border-radius: 3px;
      transition: 500ms; }
    .site-list .item div.category-viewer div.category-group span.category-group-name {
      color: green; }
    .site-list .item div.category-viewer div.category-group span.category-item {
      color: #247cff; }
    .site-list .item div.category-viewer div.category-group:hover span.category-item {
      border-color: grey; }
    .site-list .item div.category-viewer div.category-group:hover span.category-group-name {
      border-color: grey; }
  .site-list .item div.info-viewer {
    font-size: small;
    margin-left: 3px; }
    .site-list .item div.info-viewer .info-group {
      padding: 3px;
      border-bottom: dashed 1px grey; }
      .site-list .item div.info-viewer .info-group .glyphicon {
        margin-right: 5px; }
      .site-list .item div.info-viewer .info-group .info-value {
        float: right; }
  .site-list .item div.actions ul {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%; }
    .site-list .item div.actions ul li {
      display: block;
      border-bottom: 1px solid #dedede;
      margin: 0;
      padding: 0;
      transition: 500ms; }
      .site-list .item div.actions ul li a {
        display: block;
        padding: 3px 5px;
        border: none;
        color: #247cff;
        font-weight: bold;
        font-size: smaller;
        text-decoration: none; }
      .site-list .item div.actions ul li:hover {
        background: #e3e3e3; }
      .site-list .item div.actions ul li:last-child {
        border-bottom: none; }

#menu {
  display: block;
  padding: 0;
  margin: 0; }
  #menu ul {
    padding: 0;
    margin: 0; }
    #menu ul li a {
      display: block;
      padding: 5px;
      border-bottom: 1px solid #d0d0d0;
      transition: 100ms;
      color: #000000;
      text-decoration: none; }
      #menu ul li a:hover {
        background: #e5e5e5;
        border-right: solid 5px #247cff; }
    #menu ul .active a {
      background: #e5e5e5;
      border-right: solid 5px #247cff; }

.navigation-drawer {
  width: 280px;
  position: absolute;
  top: 0;
  border-right: solid 1px #dedede; }
  .navigation-drawer .head {
    height: 44px;
    background: #f1f1f1; }
  .navigation-drawer .title {
    background: #ffa000;
    color: white;
    text-align: center;
    padding: 5px; }
  .navigation-drawer .sub-title {
    background: #d8d8d8;
    color: #000000;
    font-weight: bold;
    padding: 5px 5px 5px 20px; }
  .navigation-drawer .content-no-padding, .navigation-drawer .content {
    background: #fafafa;
    color: #000000; }
    .navigation-drawer .content-no-padding div.styled-item, .navigation-drawer .content div.styled-item, .navigation-drawer .content-no-padding a.styled-item, .navigation-drawer .content a.styled-item {
      padding: 5px;
      border-bottom: 1px solid #d0d0d0;
      transition: 300ms;
      color: #000000; }
      .navigation-drawer .content-no-padding div.styled-item:hover, .navigation-drawer .content div.styled-item:hover, .navigation-drawer .content-no-padding a.styled-item:hover, .navigation-drawer .content a.styled-item:hover {
        background: #e5e5e5; }
      .navigation-drawer .content-no-padding div.styled-item .glyphicon, .navigation-drawer .content div.styled-item .glyphicon, .navigation-drawer .content-no-padding a.styled-item .glyphicon, .navigation-drawer .content a.styled-item .glyphicon {
        color: #a6a6a6;
        margin-right: 10px; }
    .navigation-drawer .content-no-padding a.styled-item, .navigation-drawer .content a.styled-item {
      text-decoration: none;
      display: block; }
  .navigation-drawer div.key-value-styled-info div.info-group {
    margin: 5px;
    overflow: hidden;
    border-bottom: dashed 1px grey; }
    .navigation-drawer div.key-value-styled-info div.info-group i.glyphicon {
      margin-right: 5px; }
    .navigation-drawer div.key-value-styled-info div.info-group span.info-value {
      float: right; }
  .navigation-drawer .content {
    padding: 5px; }

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  /*background: #e8e8e8;*/
  min-width: 790px; }

#content {
  margin-left: 280px; }
  #content-wrapper {
    display: flex; }
  #content .yield-content {
    margin: 10px; }

header {
  background: #ffffff;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.35);
  height: 44px;
  font-weight: bold; }
  header .menu-btn {
    display: inline-block;
    position: relative;
    float: right;
    height: 44px;
    background: none;
    border: none;
    padding: 13px 10px 10px 10px;
    transition: 300ms;
    border-left: 1px solid #d0d0d0; }
    header .menu-btn:before {
      content: "";
      position: absolute;
      background: #00cb00;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 3px;
      transition: 400ms; }
    header .menu-btn:hover:before {
      width: 100%;
      left: 0; }
  header form {
    display: inline; }

#index-page {
  font-size: larger; }
  #index-page h3 {
    display: block;
    color: #d9534f;
    padding: 5px;
    margin: 0 0 5px 0;
    border-radius: 5px; }
  #index-page .page-index-container {
    border: dashed 1px #dedede;
    color: grey;
    padding: 10px;
    margin-bottom: 30px; }

#category-tree .parent-category {
  padding: 1px 5px;
  background: #eeeeee;
  border-bottom: solid 1px #cfcfcf;
  cursor: pointer; }
#category-tree .children-list .children-category {
  padding: 1px 5px;
  border-bottom: solid 1px #e4e4e4;
  color: grey;
  cursor: pointer; }
  #category-tree .children-list .children-category:hover {
    background: #e0e0e0; }
  #category-tree .children-list .children-category:last-child {
    border-bottom: solid 1px #cfcfcf; }

#search {
  position: relative; }
  #search .search-element {
    border-bottom: solid 1px grey;
    position: relative; }
    #search .search-element .search-input {
      width: 100%;
      border: none;
      outline: none; }
    #search .search-element .remove {
      position: absolute;
      right: 0;
      top: 4px; }
  #search .search-result {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 5; }
    #search .search-result .search-item {
      background: white;
      padding: 3px; }
      #search .search-result .search-item:hover {
        background: #dedede; }
      #search .search-result .search-item:last-child {
        border-bottom: solid 1px #dedede; }

#tree-category-select .tree-children {
  margin-left: 20px; }

#project-view-category-viewer {
  padding-bottom: 5px; }
  #project-view-category-viewer div.category-group {
    margin: 5px 5px 0 5px;
    border: dashed 2px #dedede;
    padding: 0 5px 5px 0;
    transition: 500ms all; }
    #project-view-category-viewer div.category-group:hover {
      border-color: #247cff; }
    #project-view-category-viewer div.category-group div.category-title {
      font-size: smaller;
      font-weight: bold;
      margin: 3px 0 0 3px;
      padding: 2px;
      border: solid 1px #dedede;
      color: green;
      display: inline-block;
      border-radius: 5px; }
    #project-view-category-viewer div.category-group div.category-item {
      display: inline-block;
      margin: 5px 0 0 5px;
      padding: 0 3px;
      border: solid 1px #dedede;
      border-radius: 3px;
      color: #247cff;
      font-size: smaller; }

/*# sourceMappingURL=include.css.map */
