




.content-panel {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  margin-bottom: 10px;
}

// page title

div.page-title {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  margin-bottom: 5px;
  background: #fafafa;

  display: flex;
  align-items: center;

  .separator {
    margin-left: auto;
  }

  .app-color-blue {
    color: #247cff;
  }

  .app-header-font {

    font-size: large;
  }

}

// ace editor style

.redactor-editor,
.redactor-box textarea {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

// footer

#footer {
  background: #000000;
  padding: 20px;
  border-top: 2px solid #00cb00;
}