hr {
  margin: 5px 0;
  border-top: solid 1px #d9d9d9;
}

/* font style */

.font-bold {
  font-weight: bold;
}

.font-size-1 {
  font-size: $fontSizeSmall;
}

.font-size-2 {
  font-size: $fontSizeBig;
}

.font-size-3 {
  font-size: $fontSizeBiggest;
}

/* font color */

.red {
  color: $colorRed;
}

.green {
  color: $colorGreen;
}

.yellow {
  color: $colorYellow;
}

.orange {
  color: $colorOrange;
}

.blue {
  color: $colorBlue;
}

.grey {
  color: $colorGrey;
}

.white-grey {
  color: $colorWhiteGrey;
}

.black {
  color: $colorBlack;
}

/* align */

.text-align-right{
  text-align: right;
}

.text-align-left{
  text-align: left;
}

/* padding */

.font-padding-left-5 {
  display: inline-block;
  padding-left: 5px;
}

.font-padding-left-10 {
  display: inline-block;
  padding-left: 10px;
}

.font-padding-right-5 {
  display: inline-block;
  padding-right: 5px;
}

.padding-left-10{
  padding-left: 10px;
}
.padding-right-10{
  padding-right: 10px;
}

.padding-5 {
  padding: 5px;
}

.padding-3 {
  padding: 3px;
}

/* flex utils */

.flex-separator {
  margin-right: auto;
}

/* link */

a.link-undecorated {
  text-decoration: none;
}

a.link-clear-color {
  color: inherit;
}

// helpers

.fix-overflow {
  overflow: hidden;
}

form.minimize .form-group {
  display: none;
}