.site-list {
  .item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0 5px 5px 0;
    border: solid 1px white;
    transition: 500ms;

    &:hover{
      border: dashed 1px grey;
    }

    div.p-panel {
      border: solid 1px $splitLineColor;
      margin: 5px 0 0 5px;

      div.p-panel-header {
        border-bottom: solid 1px $splitLineColor;
        padding: 0 3px;
        font-weight: bold;

        .glyphicon {
          margin-right: 10px;
          color: $colorOrange;
        }
      }
      div.p-panel-body {
        padding: 3px;
      }
    }

    div.col-one {
      width: 100%;
    }

    div.col-two {
      width: 300px;
    }


    // plugins
    div.category-viewer {
      line-height: 14px;
      padding: 0 3px 3px 0;

      div.category-group {
        %common-category {
          font-size: 10px;
          display: inline-block;
          border: solid 1px $colorWhiteGrey;
          margin: 3px 0 0 3px;
          padding: 0 2px;
          border-radius: 3px;
          transition: 500ms;
        }

        span.category-group-name {
          @extend %common-category;
          color: $colorGreen;
        }

        span.category-item {
          @extend %common-category;
          color: $colorBlue;
        }

        &:hover {
          span.category-item {
            border-color: grey;
          }

          span.category-group-name {
            border-color: grey;
          }

        }
      }

    }
    div.info-viewer {
      font-size: $fontSizeSmall;
      margin-left: 3px;

      .info-group {
        padding: 3px;
        border-bottom: dashed 1px $colorGrey;

        .glyphicon {
          margin-right: 5px;
        }

        .info-name {

        }

        .info-value {
          float: right;
        }
      }
    }
    div.actions {

      ul {

        margin: 0;
        padding: 0;
        display: block;
        height: 100%;

        li {
          display: block;
          //background: #d8d8d8;
          border-bottom: 1px solid $splitLineColor;
          margin: 0;
          padding: 0;
          transition: 500ms;

          a {
            display: block;
            padding: 3px 5px;
            border: none;
            color: #247cff;
            font-weight: bold;
            font-size: smaller;
            text-decoration: none;
          }

          &:hover {
            background: #e3e3e3;
          }

          &:last-child {
            border-bottom: none;
          }
        }

      }
    }

  }
}