body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  /*background: #e8e8e8;*/
  min-width: 790px;
}

// content

#content {
  margin-left: $navigation-drawer-width;
  &-wrapper {
    display: flex;
  }

  .yield-content {
    margin: 10px;
  }
}






header {
  background: #ffffff;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.35);
  height: 44px;
  font-weight: bold;

  // navigation drawer toggle





  // menu btn

  .menu-btn {
    display: inline-block;
    position: relative;
    float: right;
    height: 44px;
    background: none;
    border: none;
    padding: 13px 10px 10px 10px;
    transition: 300ms;
    border-left: 1px solid #d0d0d0;

    &:before {
      content: "";
      position: absolute;
      background: #00cb00;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 3px;
      transition: 400ms;
    }

    &:hover:before {
      width: 100%;
      left: 0;
    }
  }

  form {
    display: inline;
  }

}