// navigation driver menu

#menu {
  display: block;
  padding: 0;
  margin: 0;

  ul {
    padding: 0;
    margin: 0;

    li {

      a {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #d0d0d0;
        transition: 100ms;
        color: #000000;
        text-decoration: none;

        &:hover {
          background: #e5e5e5;
          border-right: solid 5px $colorBlue;
        }
      }

    }

    .active a{
      background: #e5e5e5;
      border-right: solid 5px $colorBlue;
    }
  }
}






.navigation-drawer {
  width: $navigation-drawer-width;
  position: absolute;
  top: 0;
  border-right: solid 1px $colorWhiteGrey;

  .head {
    height: 44px;
    background: #f1f1f1;
  }

  .title {
    background: #ffa000;
    color: white;
    text-align: center;
    padding: 5px;
  }

  .sub-title {
    background: #d8d8d8;
    color: #000000;
    font-weight: bold;
    padding: 5px 5px 5px 20px;
  }

  .content-no-padding {
    background: #fafafa;
    color: #000000;

    div.styled-item {
      padding: 5px;
      border-bottom: 1px solid #d0d0d0;
      transition: 300ms;
      color: #000000;

      &:hover {
        background: #e5e5e5;
      }

      .glyphicon {
        color: #a6a6a6;
        margin-right: 10px;
      }
    }

    a.styled-item {
      @extend div.styled-item;
      text-decoration: none;
      display: block;
    }
  }

  div.key-value-styled-info {
    div.info-group {
      margin: 5px;
      overflow: hidden;

      border-bottom: dashed 1px $colorGrey;

      i.glyphicon {
        margin-right: 5px;
      }

      span.info-name {

      }

      span.info-value {
        float: right;
      }
    }
  }

  .content {
    @extend .content-no-padding;
    padding: 5px;
  }

}