#category-tree {
  .parent-category{
    $borderColor: #cfcfcf;
    padding: 1px 5px;
    background: #eeeeee;
    border-bottom: solid 1px $borderColor;
    cursor: pointer;
  }

  .children-list{
    .children-category{
      padding: 1px 5px;
      border-bottom: solid 1px #e4e4e4;
      color: grey;
      cursor: pointer;
      &:hover{
        background: #e0e0e0;
      }

      &:last-child{
        border-bottom: solid 1px #cfcfcf;
      }
    }
  }
}

#search{
  position: relative;

  .search-element{
    border-bottom: solid 1px $colorGrey;
    position: relative;
    .search-input{
      width: 100%;
      border: none;
      outline: none;
    }

    .remove{
      position: absolute;
      right: 0;
      top: 4px;
    }

  }



  .search-result{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 5;

    .search-item{
      background: white;
      padding: 3px;
      &:hover{
        background: $colorWhiteGrey;
      }

      &:last-child{
        border-bottom: solid 1px $colorWhiteGrey;
      }
    }
  }
}