#project-view-category-viewer {
  padding-bottom: 5px;

  div.category-group {
    margin: 5px 5px 0 5px;
    border: dashed 2px $splitLineColor;
    padding: 0 5px 5px 0;
    transition: 500ms all;

    &:hover {
      border-color: $colorBlue;
    }

    div.category-title {
      font-size: $fontSizeSmaller;
      font-weight: bold;

      margin: 3px 0 0 3px;

      padding: 2px;
      border: solid 1px $splitLineColor;

      color: $colorGreen;

      display: inline-block;

      border-radius: 5px;

    }

    div.category-item {
      display: inline-block;
      margin: 5px 0 0 5px;
      padding: 0 3px;
      border: solid 1px $splitLineColor;
      border-radius: 3px;
      color: $colorBlue;
      font-size: $fontSizeSmaller;
    }

  }
}

