#index-page {
  font-size: larger;

  h3 {
    display: block;
    //background: $colorOrange;
    color: $colorRed;
    padding: 5px;
    margin: 0 0 5px 0;
    border-radius: 5px;

  }

  .page-index-container {
    border: dashed 1px $colorWhiteGrey;
    color: $colorGrey;
    padding: 10px;
    margin-bottom: 30px;
  }

}